<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANsvuaf17IijDIe4avxT6mMiRYu2EWMCg</string>
	<key>GCM_SENDER_ID</key>
	<string>1014239916524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>chattingapp-eabb5</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingapp-eabb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014239916524:ios:7fa622439745d0ec55d0c9</string>
</dict>
</plist>